# URL completa da base que contém a tabela 'InsurerTenants'
MASTER_DB_URL=postgresql://postgres:postgres@localhost:7000/backoffice

# Base da URL sem o nome do banco (o script vai concatenar o /dbname)
DB_BASE_URL=postgresql://postgres:postgres@localhost:7000

# URL dinamica usada pelo Prisma (migrate, generate, etc)
DATABASE_URL=postgresql://postgres:postgres@localhost:7000/backoffice
